@import url("./poketypes.css");

*{
    font-family: 'Poppins',sans-serif;
}

a{
    text-decoration: none;
}
a:link,a:visited{
    color: black;
}

body{

    background-color: rgb(43, 43, 43);
    color: rgb(0, 0, 0);
    align-items: center;

}
header{

    font-size: large;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: black;
    padding: 15px;
    
}
footer{

    color: white;
    background-color: rgb(46, 46, 46);
    text-align: center;
    padding: 10px;
}

section{

    min-height: max-content;
    background-color: rgb(247, 247, 247);
    background: repeating-linear-gradient( 45deg, #eee, #eee 5px, rgb(247, 247, 247) 5px, rgb(247, 247, 247) 25px );
    justify-content: center;
    padding: 50px 150px 55px 150px;

}

.flex-container{

    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    background-color: rgb(247, 247, 247,0.5);
}
/* Formulario */

.form{
    margin: 15px 20px;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 10px;
    border: 1px inset rgb(247, 247, 247);
    
}
.pokemonName,.pokemonID{
    border: 1px solid black;
    border-radius: 5px;
}
.pokemonName:focus,.pokemonID:focus{
    outline: 0;
    border: 1px solid rgb(0, 17, 255);
    transition-duration: 1s;
}

.pokemonID,.pokemonUrl{
    margin-left: 10px;
}
.pokemonName{
    margin-left: 25px;
}
li{
    list-style-type: none;
    min-width: 90px;

}
.lista-tipos{

    display: flex;
    flex-flow: row wrap;
    max-inline-size: 400px;

}
.flex-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    animation-duration: 1000ms;
}

.button-submit,.button-back{
    margin-top: 10px;
    border: 1px groove rgb(80, 80, 80);
    border-radius: 10px;
}

.button-submit:hover{
    transition-duration: 1s;
}

/* Card do pokemon */

.pokemon-card{

    position: relative;
    min-width: 210px;
    height: 350px;
    margin: 10px 20px 10px;
    background-color:rgb(230, 230, 230);
    /* background-color:rgb(206, 91, 91); */
    border-radius: 10px;
    border-style: groove;
    border-color: rgb(255, 255, 255);

}
.pokemon-card-box{
    margin-top: 5px
}

@keyframes up-down {
    from{
        top: 0px;
    }
    50%{
        top: -3px;
    }
    to{
        top: 0px;
    }   
}
.pokemon-card:hover{
   
    animation: up-down 500ms normal;

}

.pokemon-imagem{

    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(230, 230, 230);
    background-size: cover;
    background-position: center;
    border: 1px groove rgb(238, 238, 238);
    
}

.description{

    min-height: 110px;
    background-color: rgb(255, 255, 255);
    border: 1px groove rgb(236, 236, 236);
    margin: 5px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;

}
.pokemon-id{

    color:black;
    font-size: small;
    margin-left: 10px;

}
.pokemon-name{

    color: black;
    margin: 0px 0px 5px 10px;
    font-size: 20px;
}

/* Responsive screen */

@media all and (min-width: 200px){
    section{
        padding: 50px 35px 55px;
    }
}
@media all and (min-width: 510px){
    section{
        padding: 50px 100px 55px;
    }
}
@media all and (min-width: 767px){
    section{
        padding: 50px 35px 55px;
    }
}
@media all and (min-width: 837px){
    section{
        padding: 50px 70px 55px;
    }
}
@media all and (min-width: 997px){
    section{
        padding: 50px 150px 55px;
    }
}
