.navbarBtn {
    position: absolute;
    left: 10px;
    width: 5vw;
}
.header-navbar{
    position: absolute;
    left: 10px; top: 6vh;
    width: fit-content; height: 0;
    padding: 0 20px 0 15px;

    background-color: black;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;

    overflow-y: hidden;
    transition: height 500ms;
    z-index: 1;   
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.navbarBtn:hover ~ .header-navbar, .header-navbar:hover{
    height: 15vh;
}

.header-navbar > ul {
    margin: 0; padding: 0;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.navbar-icon-link-box{
    list-style: none;
    height: 30px;
    width: 160px;
}
.navbar-link:hover{
    color: rgb(122, 122, 122)
}

.navbar-icon{
    margin: 0 7px;
}

.navbar-link{
    position: relative;
    width: 100%;
    display: flex;
    text-decoration: none;
    transition-duration: 500ms;
    color: white;
}



