@import url("./poketypes.css");

*{
    font-family: 'Poppins',sans-serif;
}

a{
    text-decoration: none;
}
a:link,a:visited{
    color: black;
}

body{

    background-color: rgb(43, 43, 43);
    color: rgb(0, 0, 0);
    height: 100vh;
    margin: 0;
}

header{

    position: sticky;
    top: 0; z-index: 5;
    font-size: large;
    color: rgb(255, 255, 255);
    text-align: center;
    background-color: black;
    padding: 1vh;
    height: 4vh;
    
}
footer{

    color: white;
    background-color: rgb(46, 46, 46);
    text-align: center;
    padding: 1vh;
    height: 4vh;
}

section{

    position: relative;
    min-height: 88vh; height: fit-content;
    background-color: rgb(247, 247, 247);
    background: repeating-linear-gradient( 45deg, #eee, #eee 5px, rgb(247, 247, 247) 5px, rgb(247, 247, 247) 25px );
    display: flex;
    align-items: center;
    justify-content: center;

}

.flex-container{

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    animation-duration: 1000ms;

    border: 1px solid rgb(216, 216, 216);
    border-radius: 10px;
    background-color: rgb(247, 247, 247,0.5);
    height: 100%;
    padding: 70px 20px; margin: 20px;
    width: 80%;
}

/* Formulario */

.form{
    background-color: rgb(235, 235, 235);
    padding: 10px;
    border-radius: 10px;
    border: 1px inset rgb(247, 247, 247);
    min-width: 50%;
    
}

.form > form > button:hover , .form > form > input[type="checkbox"]:hover {
    cursor: pointer;
}
.pokemonName,.pokemonID{
    border: 1px solid black;
    border-radius: 5px;
}
.pokemonName:focus,.pokemonID:focus{
    outline: 0;
    border: 1px solid rgb(0, 17, 255);
    transition-duration: 1s;
}

.pokemonID,.pokemonUrl{
    margin-left: 10px;
}
.pokemonName{
    margin-left: 25px;
}
li{
    list-style-type: none;
    min-width: 90px;

}
.lista-tipos{

    display: flex;
    flex-flow: row wrap;
    max-inline-size: 400px;

}

.button-submit{
    margin-top: 10px;
    border: 1px groove rgb(80, 80, 80);
    border-radius: 10px;
    font-size: medium;
    transition-duration: 500ms;
}
.button-submit:hover {
    background-color: #a7a7a7;
    color: black;
}

.link-button {
    padding: 3px 5px;
}

/* Card do pokemon */

.pokemon-card{

    position: relative;
    min-width: 210px;
    height: 350px;
    background-color:rgb(230, 230, 230);
    /* background-color:rgb(206, 91, 91); */
    border-radius: 10px;
    border-style: groove;
    border-color: rgb(255, 255, 255);

}
.pokemon-card-box{
    position: relative;
    margin-top: 5px
}

@keyframes up-down {
    from{
        top: 0px;
    }
    50%{
        top: -3px;
    }
    to{
        top: 0px;
    }   
}
.pokemon-card:hover{
   
    animation: up-down 500ms normal;

}

.pokemon-imagem{

    width: 200px;
    min-height: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(230, 230, 230);
    background-size: cover;
    background-position: center;
    border: 1px groove rgb(238, 238, 238);
    
}

.description{

    min-height: 110px;
    background-color: rgb(255, 255, 255);
    border: 1px groove rgb(236, 236, 236);
    margin: 5px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;

}
.pokemon-id{

    color:black;
    font-size: small;
    margin-left: 10px;

}
.pokemon-name{

    color: black;
    margin: 0px 0px 5px 10px;
    font-size: 20px;
}
