{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon1.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');</style> 
    <title>Pokédex</title>
</head>
<body>
    <header>
        <span class="navbar-icon navbarBtn">
            <i class="fa fa-align-justify" aria-hidden="true"></i>
        </span>
        <span class="header-navbar">
            <ul>
                <li class="navbar-icon-link-box">
                    <a class="navbar-link" href="/cadastrar"> 
                        <span class="navbar-icon">
                            <i class="fa fa-plus-square fa-1x" aria-hidden="true"></i>
                        </span>
                        <span class="navbar-icon-text">Cadastrar</div>
                    </a>
                </li>
                <li class="navbar-icon-link-box">
                    <a class="navbar-link" href="/admin"> 
                        <span class="navbar-icon">
                            <i class="fa fa-user-secret fa-1x" aria-hidden="true"></i>
                        </span>
                        <span class="navbar-icon-text">Administração</div>
                    </a>
                </li>
            </ul>
        </span>
        <strong>Minha Pokedex</strong>
    </header>
    <section>
        <div class="flex-container">
        {% block content %}
            {% for pokemon in pokemon_list%}
            <div class="pokemon-card-box">
            <a href="/editar/{{pokemon.id}}">
                <div class="pokemon-card-{{pokemon.raridade}}">
                    <img class= "pokemon-imagem-{{pokemon.raridade}}" src="../../static/imagens/{{pokemon.image_name}}" alt="era pra ser uma imagem">
                    <div class="description">
                        <span class="pokemon-id">#{{pokemon.number}}</span>
                        <h1 class="pokemon-name">{{pokemon.name}}</h1>
                        <div class = "pokemon-type">
                            <span class="pokemon-type-style pokemon-type-{{pokemon.type1}}">{{pokemon.type1}}</span>
                            <span class="pokemon-type-style pokemon-type-{{pokemon.type2}}">{{pokemon.type2}}</span>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
        {% endblock %}
            <div class="pokemon-card-box card-new-poke">
            <a href="/cadastrar">  
                <div class="pokemon-card-comun">
                    <img class= "pokemon-imagem-comun" src="../../static/imagens/plus.png" alt="era pra ser uma imagem">
                    <div class="description">
                        <span class="pokemon-id"> </span>
                        <h1 class="pokemon-name">Cadastrar</h1>
                        <div class = "pokemon-type">
                            <span class="pokemon-type-style pokemon-type-null">null</span>
                            <span class="pokemon-type-style pokemon-type-null">null</span>
                        </div>
                    </div>
                </div> 
            </a>
            </div>
        </div>
    </section>
    <!-- <div class="pokemon-cadastra-button">
        <a class ="cadastro-icon" href="/cadastrar"> 
            <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
        </a>
    </div> -->
    <footer>Criada por Harrisu</footer>
</body>
</html>