{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'favicon1.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <style>@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');</style> 
    <title>Pokédex</title>
</head>
<body>
    <header><strong>Minha Pokedex</strong></header>
    <section>
        <div class="flex-container">
        {% block content %}
            {% for pokemon in pokemon_list%}
            <div class="pokemon-card-box">
            <a href="/editar/{{pokemon.id}}">
                <div class="pokemon-card-{{pokemon.raridade}}">
                    <img class= "pokemon-imagem-{{pokemon.raridade}}" src="../../static/imagens/{{pokemon.image_name}}" alt="era pra ser uma imagem">
                    <div class="description">
                        <span class="pokemon-id">#{{pokemon.number}}</span>
                        <h1 class="pokemon-name">{{pokemon.name}}</h1>
                        <div class = "pokemon-type">
                            <span class="pokemon-type-style pokemon-type-{{pokemon.type1}}">{{pokemon.type1}}</span>
                            <span class="pokemon-type-style pokemon-type-{{pokemon.type2}}">{{pokemon.type2}}</span>
                        </div>
                    </div>
                </div>
            </a>
            </div>
            {% endfor %}
        {% endblock %}
            <div class="pokemon-card-box">
            <a href="/cadastrar">  
                <div class="pokemon-card-comun">
                    <img class= "pokemon-imagem-comun" src="../../static/imagens/plus.png" alt="era pra ser uma imagem">
                    <div class="description">
                        <span class="pokemon-id"> </span>
                        <h1 class="pokemon-name">Cadastrar</h1>
                        <div class = "pokemon-type">
                            <span class="pokemon-type-style pokemon-type-null">null</span>
                            <span class="pokemon-type-style pokemon-type-null">null</span>
                        </div>
                    </div>
                </div> 
            </a>
            </div>
        </div>
    </section>
    <footer>Criada por Harrisu</footer>
</body>
</html>