/* Paginas responsivas */

/* -  200px */
@media only screen and (min-width: 200px) {
    section{
        padding: 10px 100px 50px 100px;
        background-color: red;
    }
    .pokemon-card-box{
        margin: 10px 20px;
    }
}

/* 437px -  500px */
@media only screen and (min-width: 437px) {
    section{
        padding: 10px 100px 50px 100px;
        background-color: red;
    }
    .pokemon-card-box{
        margin: 10px 20px;
    }
}

/* 500px -  620px */
@media only screen and (min-width: 500px) {
    section{
        padding: 0px 0px 50px;
        background-color: blue;
    }
    .pokemon-card-box{
        margin: 10px 0px;
    }

}
/* 620px -  1000px */
@media only screen and (min-width: 620px) {
    section{
        padding: 10px 20px 50px 20px;
        background-color: green;     
    }
    .pokemon-card-box{
        margin: 10px 10px;
    }

}
/* 1000px -  1200px */
@media only screen and (min-width: 1000px) {
    section{
        padding: 10px 80px 50px;
    }
    .pokemon-card-box{
        margin: 10px 10px;
    }
}
/* 1200px -  1400px */
@media only screen and (min-width: 1200px) {
    section{
        padding: 10px 60px 50px;
    }
    .pokemon-card-box{
        margin: 10px 10px;
    }
}
/* 1400px + */
@media only screen and (max-width: 1400px) {
    section{
        padding: 10px 80px 50px;
    }
    .pokemon-card-box{
        margin: 10px 10px;
    }
}