@import url(./style_cad.css);

.pokemon-card:hover{
   
    animation: none;
}

#fafa{
    margin-left: 1px;
    margin-top: 3px;
    size: 35px;
}
#div-card{
    margin-left: 215px;
}

.delete-poke{
    position: absolute;
    z-index: 1;
    border: 1px groove gray; 
    background-color: rgb(229, 186, 186);
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.delete-poke:hover{
    /* animation: up-down 500ms normal; */
    transition: 500ms;
    background-color: rgb(229, 149, 149);
}